{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
<script>

  const pureLoginFunction = async (loginData) => {
    const res = await fetch("/account/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        username: loginData.username,
        password: loginData.password,
        stay_logged_in: loginData.stay_logged_in,
        totp: loginData.totp === "" ? undefined : parseInt(loginData.totp)
      })
    });
    if (res.status === 200) {
      window.location.replace("{{redir_url}}");
    } else {
      alert("Login didn't work!");
    }
  };

  const sendLogin = async (login_data) => {
    const res = await fetch("/account/request_token", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ username: login_data.username })
    });
    if (res.status === 401) {
      await pureLoginFunction(login_data);
    } else if (res.status === 200) {
      login_data.totp = prompt("A token has been sent to your device. Please enter it.")
      await pureLoginFunction(login_data);
    } else {
      alert("Unexpected error!");
    }
/*    const res = await fetch("/account/login", {
      method: "POST",
      body: JSON.stringify(login_data),
      headers: {
        "Content-Type": "application/json"
      }
    });
    if (res.status === 200) {
      window.location.replace("{{redir_url}}");
    }*/

  };
</script>

{% endblock %}

{% block content %}
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col"
     x-data="{username: '', password: '', stay_logged_in: false, totp: ''}">
    <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
            Username
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800" id="username" type="text"
               placeholder="Username" x-model="username">
    </div>
    <div class="mb-6">
        <label class="block text-gray-800 text-sm font-bold mb-2" for="password">
            Password
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 mb-3"
               id="password" type="password" placeholder="******************" x-model="password">
    </div>
    <div class="mb-6">
        <label class="block text-gray-800 text-sm font-bold mb-2" for="rememberme">
            Stay logged in?
        </label>
        <input class="shadow border rounded py-2 px-3 text-gray-800 mb-3"
               id="rememberme" type="checkbox" x-model="stay_logged_in">
    </div>
    <div class="mb-6">
        <label class="block text-gray-800 text-sm font-bold mb-2" for="totp">
            TOTP
        </label>
        <input class="shadow border rounded py-2 px-3 text-gray-800 mb-3"
               id="totp" type="number" x-model="totp" max="999999">
    </div>
    <div class="flex items-center justify-between">
        <button class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded" type="button"
                @click="sendLogin({password: password, username: username, stay_logged_in: stay_logged_in}).then()">
            Sign In
        </button>
        <!-- <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-800" href="#">
             Forgot Password?
         </a>-->
    </div>
</div>
{% endblock %}